/*--------------------------------------------------------------
# Google Map One
--------------------------------------------------------------*/
.google-map-one {
	position: relative;
	display: block;
}

.google-map__one {
	position: relative;
	display: block;
	border: none;
	height: 740px;
	width: 100%;
}

/*--------------------------------------------------------------
# Google Map Two
--------------------------------------------------------------*/
.google-map__two {
	position: relative;
	display: block;
	border: none;
	height: 420px;
	width: 100%;
	margin-top: 30px;
}











/* End */