/* CSS Document */

:root {
	--thm-base: #bb54e1;
	--thm-base-rgb: 187, 84, 255;
}


.main-slider__icon img,
.video-one__shape-1 img,
.main-slider-three__sub-title-icon img {
	filter: grayscale(100%);
}